* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0.375rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.95);
}

.start {
  background-color: #3c3fe9;
}

.stop {
  background-color: #e93c3c;
}

.choose {
  background-color: #5be097;
  color: #242424;
}

.video {
  background-color: #efefef;
  width: 640px;
  height: 360px;
  border-radius: 0.375rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.source-selection {
  outline: none;
  border: 1px solid #ededed;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
